header .header
{
    background-color: #fff;
    
    height: 45px;
}
header a img
{
    width: 134px;
  margin-top: 4px;
}
.container
{
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-size: cover;
    background-image: url(women.jpg);
}
.SignUp .form
{
    position: relative;
    top:150px;
    text-align: center;

}
.form .input
{
    max-width:100%;
    font-size: 14px;
    box-sizing: border-box;
    max-height: 100%;
}
.form
{
    position: relative;
    z-index: 1;
    background:rgb(157, 74, 216);
    filter: blur(.5px);
    max-width: 500px;
    max-height: 800px;
    width: 400px;
    margin: 0 auto 100px;
    padding: 55px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(203, 83, 83, 0.098), 0 5px 5px 0 rgba(166, 208, 76, 0.24);
}

.form .button
{
    box-sizing: border-box;
    width: 100%;
    background:color aqua;
}